<div class="panel panel-default">
  <div class="navigation panel-body">
    <nav class="shortcut-group-area">
<!--      start-->
      <div class="shortcut-frame col-md-1-2 col-md-2" >
        <a routerLink="/customers/all">
          <div class="zoom shortcut-card card">
            <span class="shortcut-icon-area icon-center">
              <span class="shortcut-icon fa fa-file-text"></span>
            </span>
            <div class="shortcut-label-area">
              <p>VIEW ALL</p>
            </div>
          </div>
        </a>
      </div>
<!--      end-->
    </nav>
  </div>
</div>
